{{> header seo=seo}}

<h2>
  about scour    
</h2>

<p>
Greetings and salutations! I'm <a href="https://www.aTylerRobertson">Tyler</a>, and I'm a programmer, which is a polite word for people who give computers anxiety. What you're looking at here is the "about" page for a project I've been toying with off and on for a few months, and I'm finally opening its doors in an act of spite. Spite for, specifically, search engine companies that continue to add artificial intelligence "assistants" to their products, despite AI tools being both <i>not good</i> and <i>objectively bad for workers</i> at said companies.
</p>
<p>
Scour is my proposal for a step in the opposite direction: let's ditch the supercomputers, pick up our digital spades, and become internet gardeners again. Think of it like, getting a playlist from a friend, and instead of it being Spotify's trite and generic "fifty songs for a moody day", it's a lovingly-crafted collection of bangers and anthems and poetry that you <i>needed</i> to hear. What if <i>that feeling</i> was a search engine?
</p>
<p>
  If you're reading this, you're probably one of two kinds of person. Either:
  <ol>
    <li>You stumbled across this page and want to get back to using the site (the search bar's just above)</li>
    <li>You're an internet sicko like me who wants to make something like this for yourself. Great news: <a href="https://github.com/aTylerRobertson/scour">you can</a>.</li>
  </ol>
</p>

{{> footer}}