{{> header seo}}

        <a href="/">../</a>
        <a href="{{item.source}}">
          <h1>
            {{item.title}}
          </h1>
        </a>
        <span class="guid">{{item.guid}}</span>
        <div class="details">
          {{{item.contents}}}
        </div>

{{> footer}}