      <footer id="footer">
        <ul id="links">
          <li><a href="/about">About</a></li>
          <li><a href="/rss">RSS</a></li>
          <li><a
              href="https://glitch.com/edit/#!/remix/scour"
            >Remix</a></li>
        </ul>
      </footer>

    </main>
  </body>
</html>